<%=form_for @job do |f| %>
  <div class="form-group">
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  </div>
  <div class="form-group">
  <div>
    <%= f.label :description %>
  </div>
  <div>
    <%= f.text_area :description, size: '60x6' %>
  </div>
  
  

  </div>
  <div>
   <%= f.submit %>
  </div>
<% end %>
